# Downloaded raw files (quá nặng)
downloaded/

# Python scripts
*.py
__pycache__/
*.pyc
sw_template.js
downloaded_index.html

# Build folders
docs/
site/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
